{% extends 'main/layout.html' %}

 {% block title %}О нас | Кинотеатр{% endblock %}
 
 {% block content %}
 <div class="block">
  <div class="heading"><h6>О нас</h6></div>
      <p>"Два любовных колеса" это единственный автокинотеатр в Ростове-на-Дону, в котором мы смотрим лучшие фильмы прямо из своего авто.</p>
      <p>Площадка находится под открытым небом, а звук передается по радиоволне 103.5 FM, делая твое авто личным комфортным пространством.</p>
      <p>Мы постарались сделать отдых в "Два любовных колеса" максимально комфортным.</p>
      <p>Всю информацию можно узнать на сайте <a href="https://love-wheels.xyz/">love-wheels.xyz</a> или написав нам в сообщения.</p>
    Мы находимся по следующим адресам:<br>
      - ТРК "Мегамаг, Пойменная ул., 1, Ростов-на-Дону, Ростовская обл., 344002<br>
      - Аксайский пр., 23, Аксай, Ростовская обл., 346715<br>
  </div>
 
 {% endblock %}