{% extends 'main/layout.html' %}

 {% block title %}Контакты | Кинотеатр{% endblock %}
 
 {% block content %}

 <div class="block">
    <div class="heading"><h6>Контакты</h6></div>
    <div>
        <h1>Ростов-на-Дону и РО</h1>
        <div class="info-contacts">
          <p>Уважаемые гости!
          Будем рады получить ваши отзывы и пожелания, а также вопросы о бронировании и возврате билетов на почту <br><a href="mailto:novya.po4ta@mail.ru">novya.po4ta@mail.ru</a></p>
          <h2>Кинотеатры, акции, забытые вещи</h2>
          <p>Мы постоянно развиваемся, и нам важно ваше мнение о работе наших кинотеатров и нашего сервиса. 
          Если вы хотите задать вопрос, оставить отзыв или сообщить о забытой вещи, позвоните по телефону <a href="tel:+78005553535">+7 (800) 555 35-35</a> или <a href="https://api.whatsapp.com/send?phone=79081795952">напишите нам</a>.</p>
          <h2>Наше местоположение</h2>
          <p>Фактический адрес:<br> ТРК "Мегамаг, Пойменная ул., 1, Ростов-на-Дону, Ростовская обл., 344002</p>
        </div>
    </div>
  </div>
 
 {% endblock %}